*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Slab", serif; */
    font-family: "Poppins", sans-serif;

}
.maincontainer{
    width: 100%;
    height: auto;
    /* background-color: cadetblue; */
    display: flex;
}

.leftpart{
    width: 30%;
    height: auto;
    background-color: #fcfcfc;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.leftpart nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    

}

.leftpart nav img{
    width: 40;
    height: 40px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftpart button{
    width: 90%;
    background: transparent;
    border: none;
    margin-block: 15px;
    text-align: start;
    padding-left: 30px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    padding-block: 10px;
}

.leftpart button i{
    padding-right: 15px;
}

 .leftpart button:hover{
    /* background: grey; */
    background-color: #f4f4f4;
}

.rightpart{
    width: 70%;
    height: auto;
    background-color: #f4f4f4;
}

.rightpart nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    font-size: 18px;
    font-weight: 500;
}
.left i{
    margin-right: 14px;
    margin-left: 10px;
}

.right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right img{
    width: 40px;
    height: 40px;
}

.right button{
    background-color: #0c68e9;
    border: none;
    border-radius: 30px;
    padding: 12px;
    color: white;
}

.pattern{
    width: 90%;
    height: 210px;
    background-color: #fcfcfc ;
    margin-left: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 13px;
}

.para{
    width: 100%;
    display: flex;
    align-items: end;
}

.para h1{
    font-size: 25px;
    font-weight: 600;
}

.para h1 span{
    color: #a1a7ab;
}

.para p{
    font-size: 13px;
    color: #33ae61;
}

.pattern img{
    width: 100%;
    height: 70%;
}


.patterns{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ptrn1{
    font-size: 16px;
    font-weight: 600;
}
.ptrn1 i{
    margin-left: 10px;
}

.ptrn2 button{
    padding: 7px;
    background: transparent;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.ptrn2 button i{
    margin-left: 10px;
}


/* centre */

.centre{
   width: 90%;
    height: auto;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-inline: 10px; */
    margin-top: 10px;
    margin-left: 29px;
}

.centre1{

    width: 395px;
    height: 210px;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 10px;
}

.centre1 img{
    height: 150px;
    width: 350px;
    margin-left: 20px;
}
.centres{
    width: 90%;
    height: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.centreleft{
    font-size: 13px;
    font-weight: 600;
}
.centreright{
    font-size: 13px;
    font-weight: 600;
    color: #0c68e9;
}

.table{
    width: 100%;
}

.row1{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-block: 10px;
}
.list1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list1 img{
    width: 25px;
    height: 25px;
}

.line{
    padding-left: 5px;
}

.line h6{
    font-size: 12px;
}

.line p{
    font-size: 10px;
    color: #a1a7ab;
}
.list2{
    display: flex;
    align-items: start;
    justify-content: center;
}

.list2 img{
    width: 50px;
    height: 30px;
}

.list3 h6{
    font-size: 12px;
}

.list3 p{
    font-size: 10px;
    color: #33ae61;
}

.rw1{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-block: 10px;
}

.box{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-icon{
    width: 25px;
    height: 25px;
    background-color: #d8f0ff;
    color: #5194ef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-icon i{
    font-size: 14px;
    font-weight: 1000;
}

.circle{
    padding-left: 10px;
    font-weight: 500;
}

.circle h6 span{
    color: #33ae61;    
}

.circle p{
    font-size: 10px;
    color: #33ae61;
}

.number h6 span{
    color: #a1a7ab;    
}

.number p{
    font-size: 10px;
    text-align: end;
}

.number p span{
    color: #a1a7ab;    
}





/* last */
.last{
    width: 90%;
    height: auto;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-inline: 10px; */
    margin-top: 10px;
    margin-left: 29px;
    margin-bottom: 20px;
}
.last1{
    width: 395px;
height: 250px;
background-color: #fcfcfc;
border-radius: 10px;
padding: 10px;
}



.centreright button{
    padding: 7px;
    background: transparent;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.flex{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.green{
    width: 200px;
    height: 150px;
    background-color: #dff9e8;
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 20px;
    

}

.green h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.green p{
    font-size: 9px;
    font-weight: 500;
}

.real{
    width: 130px;
    height: 150px;
    background-color: #f5edfa;
    border-radius: 20px 0px 0px 20px;
    padding-inline: 20px;
    padding-block: 20px;
}

.real h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.real p{
    font-size: 9px;
    font-weight: 500;
}

.dot{
    width: 25px;
    height: 25px;
    background-color: #33ae60;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}



/* .dot i{
    color: white;
} */

#pink{
    background-color: #b981da;
}

.input{
    width: 95%;
    height: 24px;
    background-color: #f4f4f4;
    margin-top: 10px;
    border-radius: 50px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.input input{
    background: transparent;
    border: none;
    font-size: 10px;
    font-weight: 500;

}

.arrow{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #0c68e9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive */

@media (max-width: 480px) {
    .maincontainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .leftpart{
        width: 100%;
        height: 40px;
    }
    .leftpart nav{
        width: 100%;
        margin: 0;
        
    }

    .icon{
        padding-right: 20px;
    }

    .leftpart button{
        display: none;
    }
    .rightpart{
        width: 100%;
        flex-direction: column;
    }

    .rightpart nav{
        width: 100%;
    }

    .left{
        font-size: 10px;
    }

    .right{
        width: 45%;
        font-size: 10px;
        padding-right: 10px;
    }

    .right button{
        font-size: 10px;
        padding: 6px;
    }

    .right img{
        width: 27px;
        height: 27px;
    }

    .pattern {
        width: 91%;
        margin-left: 20px;
        
        padding-inline: 10px;
        
        border-radius: 15px;
    }

    .ptrn1{
        font-size: 12px;
    }
    .ptrn2{
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    .ptrn2 button{
        font-size: 10px;
        margin: 0;
        padding: 4px;
        
    }

    .para h1{
        font-size: 14px;
    }

    .centre{
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;
    }

    .centre1{
        width: 100%;
        margin-block: 10px;
    }

    .last{
        width: 91%;
        flex-direction: column;
        margin-left: 20px;
    }

    .last1{
        width: 100%;
        margin-block: 10px;
        
    }



}


